/* *{
    color: white;
    font-family: sans-serif;
}
.navbar{
    width: 100px;
    background-color: #1F2655;
    position: fixed;
    display: flex;
    padding-bottom: 20px;
}
.logo{
    padding-top: 30px;
    cursor: pointer;
    font-size: large;
    margin-left: 100px;
}
ul{
    list-style: none;
    display: flex;
    gap: 30px;
    padding-top: 30px;
    margin-left: 150px;
}
.link{
    text-decoration: none;
    color: #fff;
}
.link:hover{
    color: green;
} */
.fa-solid{
    color: #fff;
}
