nav{
    width: 100%;
    background-color: #1F2655;
    display: flex;
}
.fa-solid{
    color: #fff;
    margin-left: 100px;
    cursor: pointer;
}
ul{
    gap: 30px;
    padding-top: 40px;
    padding-bottom: 20px;
    margin-left: 50%;
    list-style: none;
}
#bg-image{
    background-image: url('/images/d&c.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 12%;
}
.text{
    text-align: center;
    color: #fff;
}
.container{
    text-align: center;
    margin-top: 60px;
}
.row{
    padding: 30px;
}
.link{
    text-decoration: none;
}
.card{
    margin-left: 12%;
}
.card:hover{
    border-color: blue;
}
.card-title2{
    margin-top: -35px;
}
.container-fluid{
    background-color: #152F4F;
    text-align: center;
    color: #fff;
}
.footer{
    background: #152F4F;
    color: white;
}
li a{
    color: white;
    text-decoration: none;
}
a:hover{
    text-decoration:none;
    color:#1F2655;
}
.about-company{
    font-size: 25px;
    color:white;
    transition: color .2s;
}    
.location{
    font-size: 18px;
}
.copyright p{
    border-top:1px solid rgba(255,255,255,.1);
}
.btn{
    background-color: #152F4F;
}
.bg-img{
    background-image: url('../images/65.webp');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10%;
    margin-bottom: -50px;
}
.text2{
    color: #fff;
    font-weight: bolder;
    text-align: center;
    margin-top: 22%;
    margin-bottom: -8%;
}
.btn{
    width: 150px;
}
.bg-image{
    background-image: url('../images/back.webp');
    width: 100%;
    margin-bottom: -50px;
    background-size: cover;
    background-repeat: no-repeat;
}
#stale{
    background-color: lightblue;
    border-radius: 20px;
    box-shadow: 2px 2px 8px 2px lightgray;
}
#bg-img{
    background-image: url('../images/back2.webp');
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: -50px;
}
.background-image{
    background-image: url('../images/catwall.webp');
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: -50px;
}