nav{
    width: 100%;
    background-color: #1F2655;
    display: flex;
}
.fa-solid{
    color: #fff;
    margin-left: 100px;
    cursor: pointer;
}
ul{
    list-style: none;
    display: flex;
    gap: 30px;
    padding-top: 40px;
    padding-bottom: 20px;
    margin-left: 50%;
    margin-right: 100px;
    font-size: large;
}
.bg-image{
    background-image: url('/images/d&c.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 12%;
}
.text{
    text-align: center;
    color: #fff;
}
.container{
    position: relative;
    text-align: center;
    margin-top: -90px;
}
.row{
    gap: 40px;
}
.link{
    text-decoration: none;
}
.card{
    margin-left: 10%;
}
.card-title1{
    margin-top: -20px;
}
.card-title{
    margin-top: -50px;
}